.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px 12px;
}

.board-item {
  height: 115px;
  width: 115px;
  background-color: var(--white);
  border-radius: 15px;
  line-height: 115px;
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  color: var(--text-color);
}
