.scoreBoard {
  background-color: var(--white);
  padding: 11px 30px 19px 30px;
  border-radius: 15px;
  margin-bottom: 70px;
}

.scoreBoard-title {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 16px;
}

.score-wrapper {
  display: flex;
  align-items: center;
}

.score {
  font-size: 48px;
  font-weight: 700;
  color: var(--primary-color);
}

.player-winner {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  margin: 0 78px;
}
